<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
        <link rel="stylesheet" href="/style/sidebar.css">
        <link rel="stylesheet" href="/style/artistArtwork.css">
        <title>Document</title>
</head>

<body>
    <%- include('../components/header.ejs'); %>
    <main class="mt-10">


        <div class="container-fluid dashboard-section">
          <%- include('../components/sidebar.ejs'); %>

                <!-- CONTENT SECTION -->
                <div class="col-lg-8 dashboard-content col-md-8">
                    <div class="status-sort">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Sort
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/artworkArtist/pending">Pending</a></li>
                              <li><a class="dropdown-item" href="/artworkArtist/approved">Approve</a></li>
                              <li><a class="dropdown-item" href="/artworkArtist/declined">Declined</a></li>
                            </ul>
                          </div>
                    </div>
                    
                    <div class="photo-gallery">
                      <% let columns = [[], [], []]; %>
                      <% for(let i = 0; i < images.length; i++) { %>
                          <% columns[i % 3].push(images[i]); %>
                      <% } %>
                      <% for(let i = 0; i < 3; i++) { %>
                          <div class="image-column">
                              <% for(let j = 0; j < columns[i].length; j++) { %>
                                  <% let image = columns[i][j]; %>
                                  <% if(image) { %>
                                      <a href="/detail/<%=image._id%>" class="photo">
                                          <img src="/images/artwork/<%= image.image %>" alt="<%= image.artworkName %>">
                                          <div class="overlay">
                                              <div class="text"><%= image.artworkName %></div>
                                          </div>
                                      </a>
                                  <% } %>
                              <% } %>
                          </div>
                      <% } %>
                  </div>
                  
                      
                    

                </div>
                
        </div>
    </main>
    <%- include('../components/rootscript.ejs'); %>
    <%- include('../components/footer.ejs'); %>

</body>

</html>