<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
        <link rel="stylesheet" href="/style/sidebar.css">
        <link rel="stylesheet" href="/style/profilepage.css">
        <title>Change password</title>
        <link rel="icon" type="image/x-icon" href="/images/logo/Favicon.png">
</head>

<body>
    <%- include('../components/header.ejs'); %>
        <main class="mt-10">

            <div class="container-fluid dashboard-section">

                <%- include('../components/sidebar.ejs'); %>

                    <!-- CONTENT SECTION -->
                    <div class="col-lg-8 col-md-8">
                        <div class="container">
                            <h1>Change password</h1>
                            <div class="row">
                                <!-- left column -->

                            <!-- edit form column -->
                            <div class="col-md-9">
                                <h3>Personal info</h3>
                                <form class="form-horizontal" role="form" action="/profile/password" method="POST">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="currentPassword">Current Password</label>
                                        <div class="col-md-8">
                                          <input class="form-control" type="password" name="currentPassword" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="newPassword">New Password:</label>
                                        <div class="col-md-8">
                                          <input class="form-control" type="password" name="newPassword" required>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-md-3 control-label" for="confirmNewPassword">Confirm new password:</label>
                                        <div class="col-md-8">
                                          <input class="form-control" type="password" name="confirmNewPassword" required>
                                        </div>
                                      </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8">
                                            <input type="submit" class="btn btn-primary" value="Save Changes">
                                            <span></span>
                                            <button type="button" class="btn btn-default" onclick="window.location.href='/profile'">Cancel</button>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../components/rootscript.ejs'); %>
        <%- include('../components/footer.ejs'); %>

</body>

</html>