<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/detailedpage.css">
    <title>Document</title>
</head>


<body>
    <%- include('../components/header.ejs'); %>

    <% if( foundAW ) { %>
        <div class="container-fluid artwork-detail-section">
            <div class="image-container">
                <div class="hover-image"><img src="/images/artwork/<%= foundAW.image %>" alt="Your Image"></div>
                <div class="image-info">
                    <% if ( user.role == 'visitor') { %>
                        <form action="/bookmark/<%= foundAW._id %>" method="post">
                            <button class="bookmark-btn" type="submit"><i class="far fa-bookmark"></i></button>
                        </form>
                    <% } %>
                    <h2 class="artwork-title"><%= foundAW.artworkName %></h2>
                    <p class="author">Author: <%= foundAW.artworkAuthor %></p>
                    <p class="artist">Pubblised by: <%= foundAW.artworkArtist %></p>
                    <p class="category"><%= foundAW.artworkCategories %></p>
                    <p class="description"><%= foundAW.artworkDescription %></p>
                </div>
            </div>
        </div>
    <% } %>
    <% if( !foundAW ) { %>
        <div class="container-fluid artwork-detail-section">
            <div class="image-container">
                <div class="hover-image"><img src="/images/artwork/iam.jpg" alt="Your Image"></div>
                <div class="image-info">
                    <div class="bookmark-container">
                        <button class="bookmark-btn"><i class="far fa-bookmark"></i></button>
                    </div>
                    <h2 class="artwork-title">Artwork Title</h2>
                    <p class="author">Author Name</p>
                    <p class="category">Artwork Category</p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde iste deserunt ut doloribus fugiat labore voluptate ullam dolore numquam vel minima consectetur, ipsum, laborum illo atque delectus dicta. At ex excepturi doloribus eveniet quibusdam qui, iure fugit voluptas saepe, nisi accusamus dolore soluta repellendus.</p>
                </div>
            </div>
        </div>
    <% } %>

    <%- include('../components/footer.ejs'); %>
    <%- include('../components/rootscript.ejs'); %>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
        <script src="/script/detailedpage.js"></script>
</body>


</html>