<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/rootstyle.ejs'); %>
    <link rel="stylesheet" href="/style/profilepage.css">
    <title>Document</title>
</head>
<body>
    <%- include('../components/header.ejs'); %>


<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" >
            <div class="row g-0">
              <div class="text col-md-4 gradient-custom text-center">
                <button onclick="toggleUpdateForm()">
                  <div id="avatar-container">
                    <% if (user.avatar) { %>
                      <img src="<%=user.avatar%>"
                                alt="Avatar" class="img-fluid my-5" height="100px" width="100px" >
                      <img src="/images/uploads/123.png" alt="overlay" id="overlay" height="100px" width="100px">
                    <% } %>
                  </div>
                </button>
                
                <div id="update-form" class="update-form">
                  
                  <form action="/update-avatar/<%=user._id%>" method="post" enctype="multipart/form-data">
                    <label for="avatar">Choose new avatar:</label>
                    <input type="file" id="avatar" name="avatar">
                    <br>
                    <button type="submit">Update Avatar</button>
                  </form>
                </div>
                <h5><%=user.username%></h5>
                <a href="/edit-profile/<%=user._id%>" class="btn btn-outline-primary">Edit</a>
                <button type="button" class="btn btn-outline-danger">Logout</button>
            </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6>Username </h6>
                        <p class="text-muted" id="username"><%=user.username%></p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6>Email</h6>
                        <p class="text-muted" id="email"><%=user.email%></p>
                    </div>
                
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../components/footer.ejs'); %>
  <%- include('../components/rootscript.ejs'); %>
  <script>
    function toggleUpdateForm() {
      const updateForm = document.getElementById('update-form');
      updateForm.classList.toggle('update-form');
    }
  </script>
</body>
</html>